<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="cdn::cdn">
<meta charset="ISO-8859-1">
<title>Change Password</title>
</head>
<script src="js/loginValidation.js"></script>
<body>
	<div th:include="navbar::nav"></div>
	<div class="container-fluid py-5">

		<div class="row">
			<div class="col-md-4 offset-md-4">
				<div class="card">
					<div class="card-header text-center text-white">
						<i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
						<h4>Change Password</h4>
					</div>


					<div th:if="${session.message}" th:classappend="${session.message}"
						class="alert alert-danger h-25 d-inline-block" role="alert" >
						<p th:text="${session.message}"></p>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>


					<div class="card-body">
						<form method="post" action="ChangePassword">
							<div class="form-group">
								<label for="email">Old Password</label> <input type="password"
									class="form-control" id="email"
									placeholder="Enter Old Password" name="OldPassword" required="true">
							</div>
							<div class="form-group">
								<label for="password">New Password</label> <input
									type="password" class="form-control" id="NewPassword"
									placeholder="Enter New Password" name="NewPassword"
									required="true">
							</div>
							<div class="form-group">
								<label for="password">Confirm Password</label> <input
									type="password" class="form-control" id="Cpassword"
									placeholder="Enter Confirm Password" name="Cpassword"
									required="true">
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary bt-block" onclick="return Validate()">
									<i class="fa fa-key fa-fw" aria-hidden="true" 
									></i>Change
								</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("NewPassword").value;
        var confirmPassword = document.getElementById("Cpassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>

</body>
</html>